Modules and Packages:

In [6]:
import math

In [7]:
math.ceil(2.4)

3

Exploring built-in modules:

In [8]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [9]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

Writing modules:

Writing packages:

In [10]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [11]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [12]:
__init__.py:
__all__ = ["bar"]

SyntaxError: invalid syntax (<ipython-input-12-3d7430ffacf8>, line 1)

Errors and Exception Handling:

In [13]:
print('Hello)

SyntaxError: EOL while scanning string literal (<ipython-input-13-db8c9988558c>, line 1)

try and except:

write permission:

In [14]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except IOError:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

Read permission:

In [15]:
try:
    f = open('testfile','r')
    f.write('Test write this')
except IOError:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Error: Could not find file or read data

In [16]:
try:
    f = open('testfile','w')
    f.write('Test write this')
except:
    print("Error: Could not find file or read data")
else:
    print("Content written successfully")
    f.close()

Content written successfully

In [17]:
try:
    f = open("testfile","w")
    f.write("Test write statement")
except:
    print("Always execute finally code blocks")

In [30]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")
        
    finally:
        print("Finally, I executed!")
    print(val)

In [31]:
askint()

Please enter an integer: 222
Finally, I executed!
222

In [32]:
askint()

Please enter an integer: 123
Finally, I executed!
123

In [28]:
def askint():
    try:
        val = int(input("Please enter an integer: "))
    except:
        print("Looks like you did not enter an integer!")
        val = int(input("Try again-Please enter an integer"))
    finally:
        print("Finally, I executed!")
    print(val)

In [29]:
askint()

Please enter an integer: hello
Looks like you did not enter an integer!
Try again-Please enter an integer123
Finally, I executed!
123

In [26]:
def askint():
    while True:
        try:
            val = int(input("Please enter an integer: "))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print("Yep thats an integer!")
            break
        finally:
            print("Finally, I executed!")
        print(val)

In [27]:
askint()

Please enter an integer: hello
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: hi
Looks like you did not enter an integer!
Finally, I executed!
Please enter an integer: 123
Yep thats an integer!
Finally, I executed!

Database connectivity and operations using Python:

In [33]:
import sqlite3

db = sqlite3.connect("my_database1.db")

db.execute("drop table if exists grades1")

db.execute("create table grades1(id int, name text, score int)")

db.execute("insert into grades1(id, name, score) values(101, 'Jenni',99 )")
db.execute("insert into grades1(id, name, score) values(102, 'Gary',90 )")
db.execute("insert into grades1(id, name, score) values(103, 'James', 80 )")
db.execute("insert into grades1(id, name, score) values(104, 'Cathy', 85 )")
db.execute("insert into grades1(id, name, score) values(105, 'Kris',95 )")

In [34]:
db.commit()

In [36]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("-" * 60)

(101, 'Jenni', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [37]:
results = db.execute("select * from grades1 where name = 'Jenni'")
for row in results:
    print(row)
print("-" * 60)

(101, 'Jenni', 99)
------------------------------------------------------------

In [38]:
results = db.execute("select * from grades1 where score >= 90")
for row in results:
    print(row)
print("-" * 60)

(101, 'Jenni', 99)
(102, 'Gary', 90)
(105, 'Kris', 95)
------------------------------------------------------------

In [40]:
results = db.execute("select name,score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60)

('Jenni', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [42]:
results = db.execute("select name,score from grades1 order by score")
for row in results:
    print(row)
print("-" * 60)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('Jenni', 99)
------------------------------------------------------------

In [43]:
results = db.execute("select name,score from grades1 order by score")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('Jenni', 99)